/*#c8cccf*/

.about img.avatar {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  position: relative;
  z-index: 1;
  margin-top: 25px;
  width: 115px;
  border-radius: 100px;
}

.about hr.avatar {
  position: relative;
  top: -70px;
  width: 150px;
  height: 1px;
  background: #ccc;
}

.about h2 {
  margin-top: 15px;
}

.about p {
  width: 280px;
  margin: 20px auto;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
}

.experience h2 { font-size: 30px; }

.experience hr {
  width: 260px;
}

.experience p {
  width: 280px;
  margin: 15px auto;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
}

.experience img {
  width: 180px;
  height: 90px;
}
