.back {
  transform: rotateY( 180deg );
  overflow: scroll;
}

.back ul {
  margin: 30px auto;
}

.back ul li {
  margin: 10px auto;
}

.back ul li img {
  width: 100%;
}

.back h2 {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 35px;
}
