.front img {
  margin-top: 68px;
  border-radius: 2px;
  width: 160px;
}

.front h1 {
  margin-top: 85px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 60px;
  font-weight: 500;
}

.front h2 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.front h3 {
  margin-top: -15px;
  font-size: 20px;
  font-weight: 200;
}

.front hr {
  margin-top: 15px;
  width: 280px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

i.icon {
  position: relative;
  top: -20px;
  font-size: 25px;
  padding: 0px 9px;
  background: #fff;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front a {
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  font-size: 30px;
  padding: 15px;
  color: #ccc;
  opacity: .7;

  -webkit-transition: opacity 1s, color 1s;
     -moz-transition: opacity 1s, color 1s;
       -o-transition: opacity 1s, color 1s;
          transition: opacity 1s, color 1s;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front a:last-child {
  font-size: 26px;
}

.front a:hover {
  opacity: 1;
  color: #333;
}

.front .buttons button {
  display: inline-block;
  cursor: pointer;;
  background: none;
  border: none;
  margin: 0px 5px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  letter-spacing: 1.5px;
}

.front .buttons button:hover {
  text-decoration: underline;
}
