.project {
  margin-bottom: 50px;
}

.project h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.project h5 {
  display: inline-block;
}

.project ul {
  margin: 0 auto;
  margin-left: 10px;
}

.project ul li {
  display: inline-block;
  text-align: left;
  float: left;
}

.project ul li label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 200;
  margin-left: 5px;
}

.project .project-bio {
  margin: 5px 10px;
}

.project .project-bio p {
  width: 85%;
  font-weight: 400;
  text-align: left;
  font-size: 13px;
}

.project .project-bio i {
  cursor: pointer;
  font-size: 22px;
  float: right;
}

.project .project-bio p:first-child {
  font-weight: 600;
  float: left;
  margin-bottom: 10px;
}

.fa-heart {
  color: #AA3939;
}
