@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 300px;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
p,
li,
i,
a,
span {
  font-family: "Roboto", sans-serif;
  color: #333;
}

main {
  margin: 0 auto;
  max-width: 900px;
}

nav {
  position: fixed;
  width: 100%;
  top: -60px;
  padding: 10px;
  transition: top 0.5s;
  z-index: 999;
}

ul {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
  cursor: pointer;
  display: inline;
  opacity: 0.6;
  font-size: 14px;
}

nav li:hover {
  text-decoration: underline;
  opacity: 1;
}

nav li i {
  font-size: 30px;
  opacity: 1;
}

.home {
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home div {
  padding: 40px;
}

.home h1 {
  font-weight: 900;
  margin: 0;
  padding: 0;
  font-size: 60px;
  letter-spacing: -2px;
  margin-left: -2px;
}

.home h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #999;
  letter-spacing: -1px;
  margin-left: -2px;
}

.home span {
  font-size: 14px;
  color: #333;
  font-family: "Space Mono", monospace;
}

.home p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 24px;
}

.home a {
  font-size: 18px;
  font-weight: 500;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: none;
  padding: 10px 25px;
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  opacity: 0.6;
}

button:hover {
  opacity: 1;
}

.about,
.recomendations {
  padding: 250px 0;
}

.section-content {
  padding: 40px;
  background: #fff;
}

.picture {
  position: relative;
  margin-left: 10px;
}

.picture img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  z-index: 200;
}

.picture div {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  border-radius: 2px;
  z-index: 1;
}

.about .content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.section-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.section-header p {
  opacity: 0.4;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  font-family: "Space Mono", monospace;
  color: #333;
}

.text-container {
  margin-right: 20px;
  z-index: 200;
  background: #fff;
}

.text-container a {
  font-weight: 900;
  color: #333;
}

.about .content p {
  margin-top: 0;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.text-container b {
  font-weight: 900;
}

.recomendation {
  margin: 0 40px;
}

.recomendations .section-header {
  padding: 0 40px;
}

.recomendations div {
  background: #fff;
}

.recomendation img {
  width: 80px;
  height: 80px;
  z-index: 200;
  position: relative;
  border-radius: 2px;
  margin-right: 10px;
}

.recomendation .picture div {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #333;
  border-radius: 2px;
  z-index: 1;
}

.recomendation h3 {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.recomendation span {
  font-size: 20px;
  opacity: 0.4;
}

.recomendation p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 36px;
}

.recomendation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floating-links {
  position: fixed;
  right: -60px;
  bottom: 10px;
  margin-right: 25px;
  transition: right 0.5s;
}

.floating-links ul {
  list-style-type: none;
  font-size: 24px;
  color: #f2f2f2;
}

.floating-links ul li {
  margin: 20px 0;
  cursor: pointer;
  opacity: 0.6;
}

.floating-links ul li:hover {
  opacity: 1;
}

.floating-links a {
  text-decoration: none;
  color: #333;
}

.floating-email {
  position: fixed;
  left: -132px;
  bottom: 132px;
  transition: left 0.5s;
  transform: rotate(-90deg);
}

.floating-email a {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  letter-spacing: 2px;
  opacity: 0.6;
}

.floating-email a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer {
  display: none;
}

footer .link {
  margin-bottom: 20px;
}

footer .link a {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 18px;
}

footer ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
  color: #f2f2f2;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

@media only screen and (max-width: 1000px) {
  .floating-links {
    display: none;
  }

  .floating-email {
    display: none;
  }

  .text-container {
    margin-right: 0;
  }

  footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .home div {
    padding: 25px;
  }

  .about {
    margin-bottom: 100px;
  }

  .section-content {
    padding: 25px;
  }
  .about .content {
    flex-direction: column;
    align-items: center;
  }

  .about .content p {
    font-size: 16px;
    line-height: 26px;
  }

  .picture {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .recomendations {
    padding: 5px;
    height: auto;
  }

  .recomendation {
    margin: 15px;
  }

  .recomendation h3 {
    font-size: 18px;
  }

  .recomendation span {
    font-size: 16px;
  }

  .recomendation .picture {
    padding-left: 1px;
  }

  .recomendation p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
  }

  .recomendations .section-header {
    padding: 0 25px;
  }

  .recomendations {
    margin-bottom: 100px;
  }
}
