    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>I'm always keen to meet new people in the industry, want to have a chat? 
                </p>
                <p class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <div class="social-buttons">
                    <a href="https://twitter.com/Rane_Gowan" target="_blank"><img src="/img/twitter-icon.png"></a>
                    <a href="https://uk.linkedin.com/in/ranegowan" target="_blank"><img src="/img/linkedin-icon.png"></a>
                    <a href="https://github.com/rgowan" target="_blank"><img src="/img/github-icon.png"></a>
                </div>
            </div>
        </div>
    </section>