    <!-- Download Section -->
    <section id="download" class="content-section text-center">
      <div class="download-section">
        <div class="container">
          <div class="col-lg-12">
            <h2>Portfolio</h2>
            <div class="projects">
              <a href="/shoe_selector"><img src="/img/shoe_selector.png"></a>
              <a href="/beatbox"><img src="/img/beatbox.png"></a>
              <a href="/puppy_love"><img src="/img/puppy_love.png"></a>
              <a href="/nandos"><img src="/img/nandos.png"></a>
            </div>
          </div>
        </div>
      </div>
    </section>