body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #f6f6f6;
  background-color: {{ site.color.primary-dark }};
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #f6f6f6;
}

h1 {
  text-shadow: 6px 6px 6px rgba(0,0,0,0.5);
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: {{ site.color.links }};
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgba(255,255,255,.3);
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: {{ site.color.primary-dark }};
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: {{ site.color.primary-dark }};
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #f6f6f6;
  background: url(/img/raining.gif) no-repeat bottom center scroll;
  background-color: {{ site.color.primary-dark }};
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
/*    background: url(/img/raining.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  }

  .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
  }

  .intro .intro-body .brand-heading {
    font-size: 40px;
  }

  .intro .intro-body .intro-text {
    font-size: 18px;
  }

  @media(min-width:767px) {
    .intro {
      height: 100%;
      padding: 0;
    }

    .intro .intro-body .brand-heading {
      font-size: 100px;
    }

    .intro .intro-body .intro-text {
      font-size: 25px;
    }
  }

  div.row img {
    width: 180px;
    margin-bottom: 20px;
  }

  div.row p.about-me {
    text-align: justify;
    letter-spacing: -0.5px;
    font-size: 17px;

  }



  .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #f6f6f6;
    border-radius: 35px;
    font-size: 40px;
    color: #f5f5f5;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }

  .btn-circle:hover,
  .btn-circle:focus {
    outline: 0;
    color: #f6f6f6;
    background: rgba(255,255,255,.1);
  }

  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }

  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }

  @-webkit-keyframes pulse {    
    0 {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @-moz-keyframes pulse {    
    0 {
      -moz-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -moz-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }

  .content-section {
    padding-top: 100px;
  }

  .download-section {
    width: 100%;
    color: #f6f6f6;
    background-color: {{ site.color.primary-dark }};
  }

  div.projects img {
    width: 350px;
    min-height: 200px;
    margin: 10px;
    -webkit-filter: grayscale(100%);
  }

  div.projects img:hover {
    -webkit-filter: grayscale(0%);
    transition: -webkit-filter .4s ease-in-out;
    -moz-transition: -webkit-filter .4s ease-in-out;
    transition: -webkit-filter .4s ease-in-out;
/*    opacity: .4;
transition: opacity .8s ease-in-out;*/
}

@media(min-width:767px) {
  .content-section {
    margin-bottom: 100px;
  }

}

.btn {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid {{ site.color.links }};
  color: {{ site.color.links }};
  background-color: transparent;
  -webkit-filter: grayscale(100%);
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid {{ site.color.links }};
  outline: 0;
  color: {{ site.color.primary-dark }};
  background-color: {{ site.color.links }};
  -webkit-filter: grayscale(0%);
}

ul.banner-social-buttons {
  margin-top: 0;
}

ul.banner-social-buttons li {
  margin-bottom: 15px;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

span.light {
  font-size: 30px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

span.light:hover {
  color: rgba(255,255,255,.6);
  transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

p.intro-text {
  margin-top: -30px;
}

p.email a {
  color: #f5f5f5;
}

p.email a:hover {
  color: #fff;
  font-size: 35px;
  -webkit-transition: font-size 1s; /* Safari */
  transition: font-size 1s;
}

div.social-buttons img {
  width: 60px;
  min-height: 60px;
  margin: 0 5px;
  -webkit-filter: grayscale(100%);
}


div.social-buttons img:hover {
  -webkit-filter: grayscale(0%);
  transition: -webkit-filter .4s ease-in-out;
  -moz-transition: -webkit-filter .4s ease-in-out;
  transition: -webkit-filter .4s ease-in-out;
}


/* Mobile */
@media (max-width:600px) {

  div.projects img{
    width: 100%;
    min-height: 200px;
    margin: 10px 0;
    -webkit-filter: grayscale(0%);
  }

  div.row img {
    width: 150px;
  }

  div.row p.about-me {
    text-align: justify;
    letter-spacing: -0.5px;
    font-size: 15px;
  }

  .intro .intro-body .brand-heading {
    font-size: 65px;
  }

  p.email a {
    font-size: 30px;
  }

  div.intro-body {
  }
}